.category{
  .active{
    background: none;
    color: black;
    font-weight: 500;
  }
}
.mat-expansion-panel{
  display: unset;
}
.activeColor{
  color: #689f38; 
}
.mat-menu-item {
  background: none !important;
  &:hover {
    background: transparent !important;
  }
}
.background{

  background: none !important;
  &:hover {
    background: transparent !important;
  }
}