<h1 class="imgs" style="cursor: pointer;" (click)="close()">
    <img src="assets/img/icon-close-tag.svg">
</h1>
<div fxLayout="row wrap" class="wrap" *ngIf="!(productDetail.productDetailLoading$ | async)">
    <div class="swiper-left">
        <div class="flex sl-product img-zoom-product">
            <div class="small-carousel">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div *ngFor="let list of (productDetail.productDetails$ | async)?.productImage; let i = index" class="swiper-slide" [ngClass]="{'selected' : i === index}">
                            <mat-card (click)="selectImage(list, i)" class="p-1 img-card" [ngClass]="{ 'active-img': image == (imagePath + '/' + list.containerName + '/' + list.image + '?tr=w-200,h-200') }">
                                <img [src]="imagePath + '/' + list.containerName + '/' + list.image+'?tr=w-200,h-200'" class="swiper-lazy" style="object-fit: contain;" />
                            </mat-card>
                        </div>
                    </div>

                </div>
            </div>
            <div class="slider-wrapper">
                <div class="main-slider">
                    <div *ngIf="!isLoading">
                        <div class="imagespinner">
                            <img width="80px" height="80px" src="assets/images/others/amuthamart-spinner.gif" />
                        </div>
                    </div>
                    <div class="swiper-container h-100" [swiper]="config" [(index)]="index">
                        <div class="swiper-wrapper">
                            <div *ngFor="let list of (productDetail.productDetails$ | async)?.productImage" class="swiper-slide">
                                <div style="display: flex; justify-content: center;" class="swiper-col">
                                    <img (load)="loading()" [src]="imagePath + '/' + list.containerName + '/' + list.image+'?tr=w-600,h-600'" class="swiper-lazy" style="width:auto; max-width: 100%;" />                                </div>
                            </div>
                        </div>
                        <button mat-mini-fab color="" class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                        <button mat-mini-fab color="" class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
                    </div>
                </div>
            </div>

        </div>




    </div>
    <!---->


</div>