<mat-sidenav-container>


    <mat-sidenav-content class="all-products" ngClass.gt-sm="p-left">

        <div *ngIf="viewType == 'grid'" fxLayout="row wrap" class="products-wrapper">

            <div *ngFor="let product of items" fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="col">
                <mat-card class="product-item text-center">
                    <mat-chip-list class="product-chip" *ngIf="product.discount">
                        <mat-chip style="background-color: unset;" selected="true" *ngIf="product?.discount<=discountPrice" color="warn">
                            {{product.discount}}% </mat-chip>
                        <mat-chip style="background-color: unset;" selected="true" *ngIf="product.discount>=fiftyPercent" class="discount">
                            {{product.discount}}% </mat-chip>
                        <mat-chip style="background-color: unset;" selected="true" class="averageDiscount" *ngIf="(product.discount>discountPrice)&&(product.discount<fiftyPercent)">
                            {{product.discount}}%</mat-chip>
                    </mat-chip-list>

                    <a *ngIf="!isEmptyObject(product)" [routerLink]="['/products/productdetails', product.productSlug]" class="image-link">
                        <img *ngIf="product.defaultImage == 1" style="height:200px" [src]="imagePath+ '/' + product.containerName + '/' + product.image + '?tr=w-460,h-460'" onError="this.src='/assets/images/default_image.png';">
                    </a>
                    <a *ngIf="isEmptyObject(product)" [routerLink]="['/products/productdetails', product.productSlug]" class="image-link">
                        <img style="height:200px" src="/assets/images/default_image.png">
                    </a>
                    <div style="padding: 16px 16px 0px !important;">

                        <a [routerLink]="['/products/productdetails', product.productSlug]" class="title text-truncate">
                                {{product.name}}
                            </a>
                        <span style="text-align: left" *ngIf="product.rating > 0 ">
                                <div   [fxLayout]="direction" class="rating-row" [fxLayoutAlign]="(direction == 'row') ? 'start center' : 'center end'">
                                    <div class="ratings flex">
                                        <div class="star flex" > <p>{{product.rating | number}} </p><span class="material-icons">grade</span> </div>
                    <span *ngIf="product.ratingCount && product.reviewCount > 0 ">{{product.ratingCount|number}} {{'allproduct.Ratings'|translate}} & {{product.reviewCount|number}} {{'allproduct.Reviews'|translate}}</span>
            </div>
        </div>


        </span>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
            <div fxLayout="column" fxLayoutAlign="center start">
                <p class="new-price" style="color: black !important;">
                    <ng-container *ngIf="(product.flag == '' && product.pricerefer == '');else one">
                        {{calculatePrice(product.price, product.taxType, product.taxValue) | currencysymbol: (listSandbox.symbolSetting$ | async)}}</ng-container>
                    <ng-template #one>
                        <span *ngIf="product.flag === 0">{{calculatePrice(product.pricerefer,
                                                product.taxType, product.taxValue) | currencysymbol:
                                                (listSandbox.symbolSetting$ | async)}}</span>
                        <span *ngIf="product.flag === 1"><del style = "color: gray;"
                                                    class="del">{{calculatePrice(product.price, product.taxType,
                                                    product.taxValue) | currencysymbol: (listSandbox.symbolSetting$ |
                                                    async)}}</del> {{calculatePrice(product.pricerefer, product.taxType,
                                                product.taxValue) | currencysymbol: (listSandbox.symbolSetting$ |
                                                async)}}</span>
                    </ng-template>
                </p>
            </div>
        </div>
        <p *ngIf="product.rating == null" style="height:30px;">
        </p>
        </div>
        <div class="icons">
            <app-controls [product]="product" [type]="'all'" [page]="'widgetDetail'" (OpenProductDialog)="openProductDialog(product)"></app-controls>
        </div>
        </mat-card>
        </div>
        </div>


        <div *ngIf="(listSandbox.widgetDetail$ | async)?.widgetItems?.length > 0" fxLayout="row wrap" class="page-wrap">
            <div fxFlex="100">
                <mat-card class="p-0 text-center">

                    <div class="flex pagination-wrap flex" *ngIf="(listSandbox.widgetDetailCount$ | async) > limit">
                        <p>{{'allproduct.page'|translate}} {{index}} {{'allproduct.of'|translate}} {{pageCount}}</p>
                        <ngb-pagination [collectionSize]="listSandbox.widgetDetailCount$ | async" [(page)]="index" [pageSize]="limit" [rotate]="true" [maxSize]="5" (pageChange)="pageEvent($event)">
                            <ng-template ngbPaginationPrevious>Prev</ng-template>
                            <ng-template ngbPaginationNext>{{'allproduct.next'|translate}} </ng-template>

                        </ngb-pagination>

                    </div>

                </mat-card>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>